#header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  justify-content: space-between;
}

#header h1 {
  text-align: center;
  color: $light-grey;
  text-shadow: 2px 2px 0 $dark-grey;
  margin: 0;
  line-height: 70px;
}

#header #logo {
  margin-left: 20px;
}

#header #navigation {
  margin: 0 10px 0 0;
  align-self: flex-end;
  line-height: 70px;
}

#header #navigation a,
#header #navigation button {
  background-image: linear-gradient(to top, $light-grey, #fff);
  background-color: $light-grey;
  text-shadow: 0 1px 0 $light-grey;
  padding: 15px;
  color: $dark-grey;
  text-decoration: none;
  border: 1px solid $mid-grey;
}

#header #navigation button {
  line-height: 1.1;
}

#header #navigation a:hover,
#header #navigation button:hover {
  background-image: linear-gradient(to top, #fff, $mid-grey);
  color: $brand-color;
}

#header #navigation > *:first-child {
  border-radius: 5px 0 0 5px;
  border-right: 1px solid $light-grey;
}

#header #navigation > *:last-child {
  border-radius: 0 5px 5px 0;
  border-left: 1px solid #fff;
}
