$size: 500px;
.panel.panel-homescreen {
  width: $size;
  min-height: $size;
  position: fixed;
  top: calc(50% - ($size / 2));
  left: calc(50% - ($size / 2));
  z-index: 2;
  background-image: url(../img/shinyworldglobe.png);
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.55);
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}

.panel.panel-homescreen h2 {
  margin-bottom: 30px;
}

.panel.panel-homescreen #g-signin2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: auto;
}

.gmnoprint.gm-style-mtc {
  top: 60px !important;
}
