$size: 500px;


.loader {
  width: $size;
  max-width: $size;
  max-height: $size;
  position: fixed;
  top: calc(50% - ($size / 2));
  right: calc(50% - ($size / 2));
  z-index: 2;
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.55);
  padding-top: 50px;
  padding-bottom: 20px;
  border: none;
  font-size: 1rem;
  background: none;
  border-radius: .5rem;
}

.loader p {
  color: #fff;
}

.loader-container .loader-bg{
    color:#000;
    position: fixed;
    height: 100%;
    width: 177.77777778vh;
    min-width: 100%;
    min-height: 56.25vw;
    background: #000;
}

.loader a {
  color: white;
  font-weight: bolder;
}

#Loader a:hover {
  text-decoration: underline;

}

.loader h2 {
  margin-bottom: 30px;
}

.loader h2 svg {
  width: 320px;
  height: 230px;
}

#SignInButton a:hover {
  background: none;
}
