/*This file contains all styles related to the panels of the site/application.*/
.page {
  width: 400px;
  max-height: calc(100% - 110px);
  position: fixed !important;
  top: 70px;
  right: 10px;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: auto;
}

.page .media {
  margin-bottom: 0;
}

.page .media:hover {
  text-decoration: none;
}

.page .media img {
  width: 50px;
}

.page .media-body *:last-child {
  margin-bottom: 0;
}

.page #accordion {
  margin-top: 20px;
  font-size: 0.9rem;
}

.page #accordion .panel {
  border-top: 1px solid #ccc;
  padding-top: 1rem;
  margin-top: 1rem;
}

.page #accordion .panel-title {
  cursor: pointer;
}

.page #accordion .panel-title:hover {
  text-decoration: underline;
}

.page #accordion .list-group-item {
  padding-right: 0;
  padding-left: 0;
}
