/*This file contains all styles related to the panels of the site/application.*/
.panel {
  width: 400px;
  max-height: calc(100% - 110px);
  position: fixed !important;
  top: 70px;
  right: 10px;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: auto;
}

.panel .media {
  margin-bottom: 0;
}

.panel .media:hover {
  text-decoration: none;
}

.panel .media img {
  width: 50px;
}

.panel .media-body *:last-child {
  margin-bottom: 0;
}

.panel h3.media-heading {
  font-size: 1.5rem;
}
